/* General */
@font-face {
    font-family: Grover-Regular;
    src: url("../fonts/Grover-Regular.ttf");
}
@font-face {
    font-family: Grover-Bold;
    src: url("../fonts/Grover-Bold.ttf");
}
@font-face {
    font-family: Grover-Semi-Bold;
    src: url("../fonts/Grover-Semi-Bold.ttf");
}
@font-face {
    font-family: Grover-Black;
    src: url("../fonts/Grover-Black.ttf");
}

body {
    margin: 0;
    padding: 0;
    background-color: #f6f5f5;
    font-family: Grover-Regular;
}

/* Home Section */
#start {
    width: 100vw;
    height: 95vh;
    background-image: url("../images/bg.png");
    background-size: cover;
}

nav {
    height: 7vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #8e8e8e;
    box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.2);
    padding: 0 200px;
    color: #f6f5f5;
}

#nav-title {
    font-size: x-large;
}

#nav-menu {
    font-size: large;
    display: flex;
    list-style: none;
}

.nav-link {
    cursor: pointer;
    margin: 0 25px;
}

#intro-text p:nth-child(1) {
    color: #8e8e8e;
    font-size: x-large;
    margin: 0;
}

#intro-text p:nth-child(2) {
    color: #404040;
    font-family: Grover-Bold;
    font-size: 64px;
    letter-spacing: 2px;
    margin: 15px 0 50px;
}

#intro-text p:nth-child(3) {
    color: #8e8e8e;
    font-size: xx-large;
    margin: 0;
}

#intro-text p:nth-child(4) {
    color: #8e8e8e;
    font-size: xx-large;
    margin: 5px 0 25px;
}

.myButton {
    cursor: pointer;
    font-size: 24px;
    background-color: transparent;
    border-radius: 6px;
    border: 2px solid #8e8e8e;
    color: #8e8e8e;
    padding: 12px 48px;
}

.myButton:hover {
    background-color: #8e8e8e;
    color: #f6f5f5;
}

.myButton:active {
    position: relative;
    top: 1px;
}

#intro-text {
    position: absolute;
    left: 11%;
    top: 20%;
}

#svg-big {
    height: 80vh;
    position: absolute;
    left: 33%;
    top: 10%;
}